html,
body {
  font-family: "Atuendo", sans-serif;
  font-size: 25px;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 3rem;
  justify-content: center;
  align-items: center;
  background-color: hsl(215, 55%, 11%);
  color: (216, 50%, 16%);
  box-shadow: 10px 10px 20px 20px;
}
main {
  width: 100%;
}
.container-image {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
h2 {
  text-align: left;
  color: rgba(240, 240, 249, 0.966);
}
.info {
  font-size: 1.5em;
  text-align: center;
  color: rgba(57, 58, 96, 0.525);
}
.elements {
  display: flex;
  justify-content: space-between;
}
.icon {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}
h3 {
  color: hsl(178, 100%, 50%);
}
h4 {
  font-size: 1em;
  color: rgba(57, 58, 96, 0.525);
}
.avatar_img {
  height: 28px;
  border: solid 2px white;
  border-radius: 50%;
  margin: 4px 15px 0 0;
}
.avatar {
  display: flex;
  justify-content: flex-start;
}
.icon-2 {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}
p {
  font-size: 0.9em;
  display: flex;
  justify-content: left;
  align-items: left;
  color: rgba(57, 58, 96, 0.525);
}
a {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}
[class="text-2"] {
  color: #fff;
}
.icon-e {
  cursor: pointer;
}
.icon-view:hover {
  visibility: hidden;
  transition: 1.5ms;
}
.icon-e:hover {
  visibility: visible;
  transition: 1ms;
}
.icon-e {
  width: 30%;
  height: 604px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  flex-direction: column;
  background-color: rgba(114, 193, 250, 0.901);
  /*opacity: .1;*/
  visibility: hidden;
}
.icon-view {
  visibility: visible;
}
.text {
  cursor: pointer;
}
.text:hover {
  color: hsl(178, 100%, 50%);
}
a[target="_blank"] {
  cursor: pointer;
}
a[target="_blank"]:hover {
  color: hsl(178, 100%, 50%);
}
